<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenDoctor Password Reset</title>
</head>
<body>
    <h1>Hello! {{username}}</h1>
    <p style="font-size: 20px;">Your temporary password is <span style="font-size: large; background-color: rgb(10, 179, 72);color: #fff">{{temporaryPassword}}</span></p>
    <p style="font-size: 20px;">It will expire in 10 minutes.</p>
    <p style="font-size: 20px;">Please change your password after login.</p>
</body>
</html>
